@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #d0e5ed;
    height: 100%;
}
.menu{
    background-color: #5e8798;
    width: 100%;
    height: 90px;
}
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu .login{
    text-decoration: none;
    color:inherit;
}
.container{
    margin: 0px 83px;

}
.flex-correct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu .container{
    height: inherit;
    align-items: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #d0e5ed;
}
.menu .container ul{
    list-style: none;
    display: flex;

}
.menu .container ul li a{
    text-decoration: none;
    color: #d0e5ed;
    padding: 29px 45px;
}
.menu .container ul li a:hover{
    text-decoration: none;
    color: #d0e5ed;
    background-color: #3f4c52;
    padding: 29px 45px;
}
.count-products{

    position: absolute;
    top: 35px;
    margin-left: 210px;
    background-color: #a54e4e;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
}
.count{
    padding-top: 2px;
    padding-right: 10px;
    text-align: right;
}
/*content*/
.product{
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    background-color: #a3c8dd;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.product img {
    margin: 10px;
}
.product p {
    font-size: 24px;
    color: #3f4c52;
    text-transform: uppercase;
    text-align: center;
}
.price{
    margin-left: 10px;
    width: 140px;
}
.old{
    text-align: center;
    color: #3f4c52;
}
.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1a26f;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 24px;
}
.without-discount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8e16f;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
}
.stars{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
    width: 140px;

}
.active-star{
    background-image: url(../img/active-star.png);
    width: 21px;
    height: 19px;
}
.star{
    background-image: url(../img/star.png);
    width: 21px;
    height: 19px;
}
.product button{
    margin: 0px 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #3f4c52;
    font-size: 24px;
}
.product button {
    font-family: "Roboto", sans-serif;
    background: #a3c8dd;
    border: 0;
    width: 280px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 10px;
    display: inline-block;
    color: #3f4c52;
    font-weight: 300;
    text-decoration: none;
    user-select: none;
    padding: 5px 2px;
    transition: 0.2s;
}
.product button:hover { background: rgba(255,255,255,.2); }
.product button:active { background: rgba(255,255,255,.5); }
.content{
    padding-bottom: 50px;
    flex-grow: 1;
}
.footer{
    font-family: "Roboto", sans-serif;
    background-color: #5e8798;
    text-align: center;
    width: 100%;
    height: 100px;
    flex-grow: 0;
}
.sign{
    color: #bcd4dd;
    font-size: 18px;
    text-transform: uppercase;
}
.footer p{
    font-size: 10px;
    color: #bcd4dd;
    text-transform: uppercase;
    align-items: flex-end;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mobile_menu_burger{
    display: none;
}
.mobile_menu{
    display: none;
}
@media screen and (max-width: 1100px){
    .mobile_menu_burger{
        display: block;
    }
    .mobile_menu{
        width: 200px;
    }
    .mobile_menu li {
        display: block;
    }
    .elem_menu{
        display: none;
    }
    .mobile_elements{
        position: absolute;
    }
    .mobile_elements li a{
        text-align: center;
        display: block;
        line-height: inherit;
        width: 100%;
        text-decoration: none;
        color: #d0e5ed;
        padding: 20px 0px;
    }
    .mobile_elements li a:hover{
        background-color: #3f4c52;
    }
    .mobile_elements li{
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        background-color: #5e8798;
    }
}
@media screen and (min-width: 1101px){
    .mobile_menu{
        display: none;
    }
    .mobile_elements{
        display: none;
    }
}